<a href="https://colab.research.google.com/github/ex-h/Sample/blob/master/Copy_of_fixture_gen_reduce_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [33]:
import string
import numpy as np 
import pandas as pd 
import operator

Import CSV into Pandas Dataframes
--------------------------------------------------------------------------------

In [34]:
#
# IMPORT CSV DATA
#

url='/content/gdrive/My Drive/Colab Notebooks/'
data_teams = pd.read_csv(url + 'teams' + '.csv' )
data_ages = pd.read_csv(url + 'ages' + '.csv' )
data_calendar = pd.read_csv(url + 'calendar' + '.csv' )
data_divisions = pd.read_csv(url + 'divisions' + '.csv' )
data_fixtures = pd.read_csv(url + 'fixtures' + '.csv' )
data_pitches = pd.read_csv(url + 'pitches' + '.csv' )
data_venues = pd.read_csv(url + 'venues' + '.csv' )

#
# CLEANUP UNTIDY ROWS/ COLUMN DATA in fixtures to check later
#

data_fixtures = data_fixtures.drop(columns=['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'])
data_fixtures = data_fixtures.dropna(thresh=5)

Admire data
--------------------------------------------------------------------------------
Clean up dataset

In [35]:
#
# View 
#

data_teams
#data_ages
#data_calendar
#data_divisions
#data_fixtures
#data_pitches
#data_venues

    Team ID  ... Teams At Pitch
0   TM00064  ...              2
1   TM00074  ...              1
2   TM00066  ...              2
3   TM00038  ...              2
4   TM00058  ...              1
5   TM00041  ...              1
6   TM00070  ...              2
7   TM00059  ...              2
8   TM00072  ...              1
9   TM00069  ...              1
10  TM00062  ...              1
11  TM00040  ...              1
12  TM00065  ...              1
13  TM00053  ...              1
14  TM00048  ...              3
15  TM00049  ...              1
16  TM00046  ...              3
17  TM00060  ...              2
18  TM00075  ...              1
19  TM00044  ...              1
20  TM00071  ...              2
21  TM00057  ...              1
22  TM00056  ...              2
23  TM00073  ...              2
24  TM00055  ...              2
25  TM00051  ...              2
26  TM00063  ...              2
27  TM00050  ...              2
28  TM00054  ...              1
29  TM00039  ...              2
30  TM00052  ...              1
31  TM00043  ...              1
32  TM00067  ...              2
33  TM00042  ...              2
34  TM00061  ...              1
35  TM00045  ...              3

[36 rows x 11 columns]

In [5]:
#
# 1. Sort teams // pseudo_SortTeamsIntoFixtureKeyOrder - "SORT TEAMS"
#

data_teams = data_teams.sort_values(by=['Division ID','Fixture Key']) # already in the dataset

Sorted Teams - Step 2 :: Sorted Teams 					(SortTeamsIntoFixtureKeyOrder()) 
--------------------------------------------------------------------------------

In [ ]:
#
# "Acquired Divisional Info" // 2. Get_Division_Arrays  # "GET DIVISIONS"
#

row_count = data_teams.shape[0]                # number of rows equivalent to dbrTeams.Rows.Count
print("row_count in table = " + str(row_count))         # debug info


Divisions = data_teams['Division ID'].unique().tolist() # Use list as "Divisions" array
divtot = len(Divisions)        # debug info
print("Divisions Array:: length= " + str(divtot))                       # debug info
print(Divisions)                               # debug info


#
# Show ouput array
#

#Fixture Key
Fixtures = data_fixtures['Fixture ID'].tolist()
print(Fixtures)

row_count in table = 36
Divisions Array:: length= 9
['U14G1', 'U14G2', 'U14G3', 'U14G4', 'U14G5', 'U14G6', 'U14G7', 'U14G8', 'U14G9']
['FXT0000000', 'FXT0000001', 'FXT0000012', 'FXT0000013', 'FXT0000024', 'FXT0000025', 'FXT0000037', 'FXT0000036', 'FXT0000048', 'FXT0000049', 'FXT0000061', 'FXT0000060', 'FXT0000073', 'FXT0000072', 'FXT0000085', 'FXT0000084', 'FXT0000096', 'FXT0000097', 'FXT0000003', 'FXT0000002', 'FXT0000014', 'FXT0000015', 'FXT0000026', 'FXT0000027', 'FXT0000039', 'FXT0000038', 'FXT0000051', 'FXT0000050', 'FXT0000063', 'FXT0000062', 'FXT0000075', 'FXT0000074', 'FXT0000086', 'FXT0000087', 'FXT0000098', 'FXT0000099', 'FXT0000005', 'FXT0000004', 'FXT0000016', 'FXT0000017', 'FXT0000028', 'FXT0000029', 'FXT0000040', 'FXT0000041', 'FXT0000053', 'FXT0000052', 'FXT0000065', 'FXT0000064', 'FXT0000076', 'FXT0000077', 'FXT0000088', 'FXT0000089', 'FXT0000100', 'FXT0000101', 'FXT0000007', 'FXT0000006', 'FXT0000019', 'FXT0000018', 'FXT0000030', 'FXT0000031', 'FXT0000043', 'FXT0000042', 'FXT0000054', 'FXT0000055', 'FXT0000066', 'FXT0000067', 'FXT0000079', 'FXT0000078', 'FXT0000090', 'FXT0000091', 'FXT0000102', 'FXT0000103', 'FXT0000009', 'FXT0000008', 'FXT0000020', 'FXT0000021', 'FXT0000032', 'FXT0000033', 'FXT0000044', 'FXT0000045', 'FXT0000057', 'FXT0000056', 'FXT0000069', 'FXT0000068', 'FXT0000080', 'FXT0000081', 'FXT0000092', 'FXT0000093', 'FXT0000104', 'FXT0000105', 'FXT0000011', 'FXT0000010', 'FXT0000022', 'FXT0000023', 'FXT0000034', 'FXT0000035', 'FXT0000047', 'FXT0000046', 'FXT0000059', 'FXT0000058', 'FXT0000071', 'FXT0000070', 'FXT0000083', 'FXT0000082', 'FXT0000094', 'FXT0000095', 'FXT0000106', 'FXT0000107']


Get Divisions  - Step 3 :: Acquired Divisional Info 			(Get_Division_Arrays())
--------------------------------------------------------------------------------

In [ ]:
#
#  Setup  DivisionsData which is made up with
#        ReDim DivisionData(LBound(Divisions) To UBound(Divisions), 1 To 3) ### this
#        DivisionData(R, 1) = 0     '<==This is the number of teams in this league
#        DivisionData(R, 2) = Tmp1D '<==This is a list of teams in this league
#        DivisionData(R, 3) = Tmp2D '<==This is the array containing the fixture key and Venue ID
#
#

df0 = data_teams['Team Name']
df1 = data_teams.filter(['Fixture Key','Venue ID'])
df2 = data_teams['Division ID']
division_data_array = pd.concat([df0, df1, df2], axis=1, join="inner")
#print("DivisionData as lists - division_data_array")
division_data_array # dataframe
#division_data_array

                                   Team Name Fixture Key  Venue ID Division ID
0      Milton United Juniors U14 Sneyd Green           A  VEN00046       U14G1
1        Stone Dominoes Development U14s red           B  VEN00053       U14G1
2                Nantwich Town FC U14 Greens           C  VEN00030       U14G1
3                    AFC Alsager U14  Tigers           D  VEN00002       U14G1
4                    Leek Town (Juniors) U14           A  VEN00023       U14G2
5             Blurton FC U14 Blurton Hornets           B  VEN00053       U14G2
6     Newcastle Town Juniors U14 Development           C  VEN00036       U14G2
7           Madeley White Star Junior FC U14           D  VEN00025       U14G2
8            Silverdale Athletic Juniors U14           A  VEN00021       U14G3
9       Newcastle Town Juniors U14 COMMUNITY           B  VEN00033       U14G3
10              Milton J.F.C. Milton JFC U14           C  VEN00038       U14G3
11   Bentilee Bulldogs U14 Bentilee Bulldogs           D  VEN00044       U14G3
12                   Mossfield United FC U14           A  VEN00052       U14G4
13           Endon Juniors U14 Endon Jaguars           B  VEN00017       U14G4
14  City of Stoke Football Club Youth U14 Re           C  VEN00011       U14G4
15                          Crewe U14 Vipers           D  VEN00013       U14G4
16     City of Stoke Football Club Youth U14           A  VEN00011       U14G5
17     Madeley White Star Junior FC U14 Blue           B  VEN00025       U14G5
18                     Werrington Tigers U14           C  VEN00006       U14G5
19       Chesterton A.F.C. Juniors U14 Pumas           D  VEN00035       U14G5
20     Newcastle Town Juniors U14 Foundation           A  VEN00036       U14G6
21     Kidsgrove Sharks U14 Kidsgrove Sharks           B  VEN00007       U14G6
22     Kidsgrove Athletic Youth U14 Terriers           C  VEN00022       U14G6
23                   Stoke Town FC Boys U14s           D  VEN00047       U14G6
24     Kidsgrove Athletic Youth U14 Spartans           A  VEN00022       U14G7
25             Eastwood Hanley FC U14 Whites           B  VEN00014       U14G7
26                 Milton United Juniors U14           C  VEN00046       U14G7
27             Eastwood Hanley FC U14 Orange           D  VEN00014       U14G7
28      Florence Youth U14 florence Spartans           A  VEN00018       U14G8
29                  AFC Alsager U14 Panthers           B  VEN00002       U14G8
30        Eccleshall Eagles Juniors U14 Jets           C  VEN00016       U14G8
31              Bradwell FC (Youth) U14 Blue           D  VEN00049       U14G8
32               Nantwich Town FC U14 Yellow           A  VEN00030       U14G9
33          Blythe Bridge Junior U14 Knights           B  VEN00047       U14G9
34                         Meir Mustangs U14           C  VEN00051       U14G9
35  City of Stoke Football Club Girls U14 Fl           D  VEN00011       U14G9

In [ ]:
# point of this is partially visual, same achieved in a dataframe
dataframe_lists = division_data_array.values.tolist() # creates list like the division data array
dataframe_lists #list of lists
#type(dataframe_lists[3][2]) #str
#type(dataframe_lists[2]) #list of strings
#print("Get each item easily enough {{{{  " + dataframe_lists[0][0] + "  }}}}")

[['Milton United Juniors U14 Sneyd Green', 'A', 'VEN00046', 'U14G1'],
 ['Stone Dominoes Development U14s red', 'B', 'VEN00053', 'U14G1'],
 ['Nantwich Town FC U14 Greens', 'C', 'VEN00030', 'U14G1'],
 ['AFC Alsager U14  Tigers', 'D', 'VEN00002', 'U14G1'],
 ['Leek Town (Juniors) U14', 'A', 'VEN00023', 'U14G2'],
 ['Blurton FC U14 Blurton Hornets', 'B', 'VEN00053', 'U14G2'],
 ['Newcastle Town Juniors U14 Development', 'C', 'VEN00036', 'U14G2'],
 ['Madeley White Star Junior FC U14', 'D', 'VEN00025', 'U14G2'],
 ['Silverdale Athletic Juniors U14', 'A', 'VEN00021', 'U14G3'],
 ['Newcastle Town Juniors U14 COMMUNITY', 'B', 'VEN00033', 'U14G3'],
 ['Milton J.F.C. Milton JFC U14', 'C', 'VEN00038', 'U14G3'],
 ['Bentilee Bulldogs U14 Bentilee Bulldogs', 'D', 'VEN00044', 'U14G3'],
 ['Mossfield United FC U14', 'A', 'VEN00052', 'U14G4'],
 ['Endon Juniors U14 Endon Jaguars', 'B', 'VEN00017', 'U14G4'],
 ['City of Stoke Football Club Youth U14 Re', 'C', 'VEN00011', 'U14G4'],
 ['Crewe U14 Vipers', 'D', 'VEN00013', 'U14G4'],
 ['City of Stoke Football Club Youth U14', 'A', 'VEN00011', 'U14G5'],
 ['Madeley White Star Junior FC U14 Blue', 'B', 'VEN00025', 'U14G5'],
 ['Werrington Tigers U14', 'C', 'VEN00006', 'U14G5'],
 ['Chesterton A.F.C. Juniors U14 Pumas', 'D', 'VEN00035', 'U14G5'],
 ['Newcastle Town Juniors U14 Foundation', 'A', 'VEN00036', 'U14G6'],
 ['Kidsgrove Sharks U14 Kidsgrove Sharks', 'B', 'VEN00007', 'U14G6'],
 ['Kidsgrove Athletic Youth U14 Terriers', 'C', 'VEN00022', 'U14G6'],
 ['Stoke Town FC Boys U14s', 'D', 'VEN00047', 'U14G6'],
 ['Kidsgrove Athletic Youth U14 Spartans', 'A', 'VEN00022', 'U14G7'],
 ['Eastwood Hanley FC U14 Whites', 'B', 'VEN00014', 'U14G7'],
 ['Milton United Juniors U14', 'C', 'VEN00046', 'U14G7'],
 ['Eastwood Hanley FC U14 Orange', 'D', 'VEN00014', 'U14G7'],
 ['Florence Youth U14 florence Spartans', 'A', 'VEN00018', 'U14G8'],
 ['AFC Alsager U14 Panthers', 'B', 'VEN00002', 'U14G8'],
 ['Eccleshall Eagles Juniors U14 Jets', 'C', 'VEN00016', 'U14G8'],
 ['Bradwell FC (Youth) U14 Blue', 'D', 'VEN00049', 'U14G8'],
 ['Nantwich Town FC U14 Yellow', 'A', 'VEN00030', 'U14G9'],
 ['Blythe Bridge Junior U14 Knights', 'B', 'VEN00047', 'U14G9'],
 ['Meir Mustangs U14', 'C', 'VEN00051', 'U14G9'],
 ['City of Stoke Football Club Girls U14 Fl', 'D', 'VEN00011', 'U14G9']]

In [ ]:
#
# sort alphabetically[0] or by another column type
#


#dataframe_lists_sortby = sorted(dataframe_lists, key=lambda x: x[0])  

dataframe_lists_sortby = sorted(dataframe_lists, key=lambda x: x[1])

In [ ]:
#
#debug display
#

#dataframe_lists_sortby

In [ ]:
#
# Using itemgetter/operator for better sort theoretically faster ( /alternative )
#

alphabetically_sorted_on_group = sorted(dataframe_lists, key = operator.itemgetter(1, 0))
alphabetically_sorted_on_group

[['City of Stoke Football Club Youth U14', 'A', 'VEN00011', 'U14G5'],
 ['Florence Youth U14 florence Spartans', 'A', 'VEN00018', 'U14G8'],
 ['Kidsgrove Athletic Youth U14 Spartans', 'A', 'VEN00022', 'U14G7'],
 ['Leek Town (Juniors) U14', 'A', 'VEN00023', 'U14G2'],
 ['Milton United Juniors U14 Sneyd Green', 'A', 'VEN00046', 'U14G1'],
 ['Mossfield United FC U14', 'A', 'VEN00052', 'U14G4'],
 ['Nantwich Town FC U14 Yellow', 'A', 'VEN00030', 'U14G9'],
 ['Newcastle Town Juniors U14 Foundation', 'A', 'VEN00036', 'U14G6'],
 ['Silverdale Athletic Juniors U14', 'A', 'VEN00021', 'U14G3'],
 ['AFC Alsager U14 Panthers', 'B', 'VEN00002', 'U14G8'],
 ['Blurton FC U14 Blurton Hornets', 'B', 'VEN00053', 'U14G2'],
 ['Blythe Bridge Junior U14 Knights', 'B', 'VEN00047', 'U14G9'],
 ['Eastwood Hanley FC U14 Whites', 'B', 'VEN00014', 'U14G7'],
 ['Endon Juniors U14 Endon Jaguars', 'B', 'VEN00017', 'U14G4'],
 ['Kidsgrove Sharks U14 Kidsgrove Sharks', 'B', 'VEN00007', 'U14G6'],
 ['Madeley White Star Junior FC U14 Blue', 'B', 'VEN00025', 'U14G5'],
 ['Newcastle Town Juniors U14 COMMUNITY', 'B', 'VEN00033', 'U14G3'],
 ['Stone Dominoes Development U14s red', 'B', 'VEN00053', 'U14G1'],
 ['City of Stoke Football Club Youth U14 Re', 'C', 'VEN00011', 'U14G4'],
 ['Eccleshall Eagles Juniors U14 Jets', 'C', 'VEN00016', 'U14G8'],
 ['Kidsgrove Athletic Youth U14 Terriers', 'C', 'VEN00022', 'U14G6'],
 ['Meir Mustangs U14', 'C', 'VEN00051', 'U14G9'],
 ['Milton J.F.C. Milton JFC U14', 'C', 'VEN00038', 'U14G3'],
 ['Milton United Juniors U14', 'C', 'VEN00046', 'U14G7'],
 ['Nantwich Town FC U14 Greens', 'C', 'VEN00030', 'U14G1'],
 ['Newcastle Town Juniors U14 Development', 'C', 'VEN00036', 'U14G2'],
 ['Werrington Tigers U14', 'C', 'VEN00006', 'U14G5'],
 ['AFC Alsager U14  Tigers', 'D', 'VEN00002', 'U14G1'],
 ['Bentilee Bulldogs U14 Bentilee Bulldogs', 'D', 'VEN00044', 'U14G3'],
 ['Bradwell FC (Youth) U14 Blue', 'D', 'VEN00049', 'U14G8'],
 ['Chesterton A.F.C. Juniors U14 Pumas', 'D', 'VEN00035', 'U14G5'],
 ['City of Stoke Football Club Girls U14 Fl', 'D', 'VEN00011', 'U14G9'],
 ['Crewe U14 Vipers', 'D', 'VEN00013', 'U14G4'],
 ['Eastwood Hanley FC U14 Orange', 'D', 'VEN00014', 'U14G7'],
 ['Madeley White Star Junior FC U14', 'D', 'VEN00025', 'U14G2'],
 ['Stoke Town FC Boys U14s', 'D', 'VEN00047', 'U14G6']]

In [ ]:
### will make functions ----
#this is for understanding the flow


Count Weeks & Matches - Step 4 :: Calculated Match and Week Counts 		(GetMatchAndWeekCounts)
--------------------------------------------------------------------------------

In [ ]:
#
# # 3. GetMatchAndWeekCounts()  -  "COUNT WEEKS & MATCHES"
#

# Set some variables
TotalMatchesPerWeek = 0
TotalWeeksInSeason = 0
Divisions = ['U14G1', 'U14G2', 'U14G3', 'U14G4', 'U14G5', 'U14G6', 'U14G7', 'U14G8', 'U14G9'] # column 1

# FixtCounts is an array ####  ReDim FixtCounts(LBound(Divisions) To UBound(Divisions), 1 To 4)
LbUb = len(Divisions)  # found from length of Divisions
print(Divisions)
print("(Lbound(" + str(LbUb-LbUb) + ") To UBound(" + str(LbUb)+")) with an array size of 4 ")
#FixtCounts = (LbUb)
teamsInDivision = data_divisions['Teams In Division'] # column 2
#fixtureKeyVenueID = # column 3 fixture key and venue ID

['U14G1', 'U14G2', 'U14G3', 'U14G4', 'U14G5', 'U14G6', 'U14G7', 'U14G8', 'U14G9']
(Lbound(0) To UBound(9)) with an array size of 4

In [ ]:
#
# work in progress
#



#Public Sub PopulateFullFixtureArray()
#    DetermineWhetherDynamic
#   CreateFullFixturesArray
#    PopulateMatchWeeksArray
#    'Loop through the Divisions generating fixtures and adding them to Fixture Array
#    Dim L As Long, R As Long, C As Long, N As Long
#    N = 1
#    For L = LBound(Divisions) To UBound(Divisions)
#    'ReportProgress L '= each division 1 to 9
#    'ReportProgress FixtCounts(L, 2) '= 4 x 9
#        If CLng(FixtCounts(L, 2)) > 0 Then 'round down or up CLNG function is a built-in function in Excel that is categorized as a Data Type Conversion Function
#        'ReportProgress CLng(FixtCounts(L, 2)) '= 4 displayed 9 times
#        'ReportProgress FixtCounts(L, 2) '= 4 displayed 9 times
#            GenerateTemplate CLng(FixtCounts(L, 2)) '= 4 each time its called in this - triggering even number
#            For C = 1 To UBound(Template, 2)
#            'ReportProgress UBound(Template, 2)
#            'ReportProgress "-----------"
#            'ReportProgress C '= [1,2,3,4,5,6] x 9 blocks corresponding to the divisions (54 times)
#                For R = 1 To UBound(Template, 1) '= 1 to 4
#                'ReportProgress Len(Template(R, C)) '= 216 x all 1's and 2's
#                    If Len(Template(R, C)) = 1 Then 'It's a home game
#                    'ReportProgress Len(Template(R, C)) '= 108 x all 1's
#                        FullFixtures(N, colFixtures("Fixture ID").Column) = "FXT" & Format(N - 1, "0000000")
#                        'ReportProgress N '= incrementing batch of 1 thru 108
#                        'ReportProgress FullFixtures(N, colFixtures("Fixture ID").Column) '= yields FXT0000000 (with N-1 in the formatted 0000000)
#                        
#                        FullFixtures(N, colFixtures("Home Team ID").Column) = GetTeamIDFromFixtureKey(L, Template(R, 0))
#                        'ReportProgress R '= 1 thru 4
#                        'ReportProgress FullFixtures(N, colFixtures("Home Team ID").Column) '= GetTeamIDFromFixtureKey(SUPPLY - R, THEN SUPPLY 0)
#                        
#                        FullFixtures(N, colFixtures("Away Team ID").Column) = GetTeamIDFromFixtureKey(L, Left(Template(R, C), 1))
#                        'ReportProgress FullFixtures(N, colFixtures("Away Team ID").Column) '= TMcode
#                        
#                        FullFixtures(N, colFixtures("Division ID").Column) = Divisions(L)
#                        'ReportProgress FullFixtures(N, colFixtures("Division ID").Column) '= Division ID data
#                        
#                        FullFixtures(N, colFixtures("Default Pitch ID").Column) = GetPitchIDFromFixtureKey(L, Template(R, 0))
#                        'ReportProgress FullFixtures(N, colFixtures("Default Pitch ID").Column) '=
#                        
#                        FullFixtures(N, colFixtures("Adopted Pitch ID").Column) = FullFixtures(N, colFixtures("Default Pitch ID").Column)
#                        'ReportProgress FullFixtures(N, colFixtures("Adopted Pitch ID").Column)
#                        
#                        FullFixtures(N, colFixtures("Default Week ID").Column) = MatchWeeks(L)(C)
#                        'ReportProgress FullFixtures(N, colFixtures("Default Week ID").Column)
#                        
#                        FullFixtures(N, colFixtures("Adopted Week ID").Column) = FullFixtures(N, colFixtures("Default Week ID").Column)
#                        'ReportProgress FullFixtures(N, colFixtures("Adopted Week ID").Column)
#                        
#                        FullFixtures(N, colFixtures("KO Time").Column) = "KO??"
#                        FullFixtures(N, colFixtures("Referee").Column) = "TBA"
#                        N = N + 1
#                    End If
#                DoEvents: Next R
#            DoEvents: Next C
#        End If
#    DoEvents: Next L
#End Sub#
#
#
#
#
#

Step 5 :: Created the Default Fixtures 			(PopulateFullFixtureArray())
--------------------------------------------------------------------------------

In [ ]:
#
# PopulateFullFIxtureArray()
#

########For each division 1-9
print(Divisions)

['U14G1', 'U14G2', 'U14G3', 'U14G4', 'U14G5', 'U14G6', 'U14G7', 'U14G8', 'U14G9']

In [ ]:
#
# Work in progress - making information from fixtures data
#

ht_id = data_fixtures['Home Team ID'] 
at_id = data_fixtures['Away Team ID'] 
div_id = data_fixtures['Division ID']

team_tmtm = data_teams['Team Name']
team_tmid = data_teams['Team ID']

dataframe_div_teams = pd.concat([ht_id, at_id, div_id], axis=1, join="inner")
dataframe_div_names = pd.concat([team_tmtm, team_tmid], axis=1, join="inner")

test1 = pd.merge(dataframe_div_teams, dataframe_div_names, how="left", left_on="Home Team ID", right_on="Team ID")
test2 = pd.merge(dataframe_div_teams, dataframe_div_names, how="left", left_on="Away Team ID", right_on="Team ID")

dataframe_test = pd.concat([test1, test2], axis=1, join="inner")


dataframe_test.columns =('Home Team ID','Away Team ID', 'Division ID', 'Home Team Name', 'Team ID','Home Team ID','Away Team ID', 'Division ID', 'Away Team Name', 'Team ID')
dataframe_test = dataframe_test.reset_index().T.drop_duplicates().T
#dataframe_div_teams.loc[dataframe_div_teams['Division ID'] == 'U14G1']

dataframe_test = dataframe_test[['Division ID','Home Team Name','Home Team ID','Away Team ID','Away Team Name']]

dataframe_test

    Division ID  ...                           Away Team Name
0         U14G1  ...                  AFC Alsager U14  Tigers
1         U14G1  ...              Nantwich Town FC U14 Greens
2         U14G2  ...         Madeley White Star Junior FC U14
3         U14G2  ...   Newcastle Town Juniors U14 Development
4         U14G3  ...  Bentilee Bulldogs U14 Bentilee Bulldogs
..          ...  ...                                      ...
103       U14G7  ...                Milton United Juniors U14
104       U14G8  ...       Eccleshall Eagles Juniors U14 Jets
105       U14G8  ...                 AFC Alsager U14 Panthers
106       U14G9  ...                        Meir Mustangs U14
107       U14G9  ...         Blythe Bridge Junior U14 Knights

[108 rows x 5 columns]

In [ ]:
# working out

## Clear Filter from table teams

# ['Fixture Key'] and ['Paired?']

## Assign Fixture Pairings >>> Public Sub AssignFixturePairings()
###########################################################################
# SortTeamsIntoPairingOrder
# Public Sub SortTeamsIntoPairingOrder()
#    SortRange rngTeams, _
#              SortDetails(colTeams("Teams At Pitch"), Order:=xlDescending), _
#              SortDetails(colTeams("Default Pitch ID")), _
#              SortDetails(colTeams("Division ID")), _
#              SortDetails(colTeams("Team ID"))
# End Sub #################################################################

df_pairing_order = data_teams.filter(['Teams At Pitch','Default Pitch ID','Division ID','Team ID','Teams In Division'], axis = 1)



#
# From FixtureKeys
#
# Public Sub SortTeamsIntoPairingOrder()
#    SortRange rngTeams, _
#              SortDetails(colTeams("Teams At Pitch"), Order:=xlDescending), _
#              SortDetails(colTeams("Default Pitch ID")), _
#              SortDetails(colTeams("Division ID")), _
#              SortDetails(colTeams("Team ID"))
#
#df_pairing_order_rngTeams = df_pairing_order.sort_values(by='Teams At Pitch', ascending = False) # sorted by ['Teams At Pitch']
###



# FITS THE SORT BETTER -->>>
df_pairing_order = df_pairing_order.sort_values(['Teams At Pitch','Default Pitch ID','Division ID','Team ID'], ascending = (False, True, True, True)) # sorted by ['Teams At Pitch'] and then by ['Pitch ID']
# this is format for 



# in python create copy of the dataframe and order desc by ['Teams At Pitch']

#####df_pairing_order

#pairing_order_list = df_pairing_order.values.tolist()



#
# cleared existing Fixtures and Paired? with new df that can be added to with the new information
#
#pd.options.display.max_seq_items = 2000
#pairing_order_list

print("size of array " + str(len(df_pairing_order)))
display(df_pairing_order)

NameError: ignored

In [ ]:
#
# 
#

This section is Assign Fixture Keys
--------------------------------------------------------------------------------

```
    colPID = colTeams("Default Pitch ID").Column
    colDID = colTeams("Division ID").Column
    colKEY = colTeams("Fixture Key").Column
    colPRD = colTeams("Paired?").Column
    colTID = colTeams("Teams In Division").Column
    colTAP = colTeams("Teams At Pitch").Column
```

In [36]:
##### emulating FixtureKeys - [Assign Fixture Keys]   - eventually    def AssignFixtureKeys:

#
# Assign Fixture Pairings -  AssignFixturePairings()
#
df_pairing_order = data_teams.filter(['Teams At Pitch','Default Pitch ID','Division ID','Team ID','Teams In Division','Paired?'], axis = 1)
df_pairing_order = data_teams.filter(['Teams At Pitch','Default Pitch ID','Division ID','Team ID','Teams In Division'], axis = 1)
df_pairing_order = df_pairing_order.sort_values(['Teams At Pitch','Default Pitch ID','Division ID','Team ID'], ascending = (False, True, True, True)) # sorted by ['Teams At Pitch'] and then by ['Pitch ID']

# testing
df_pairing_order = df_pairing_order.rename({'Paired?':'Paired_CSV'}, axis='columns') 
#df_pairing_order = df_pairing_order[['id','Teams At Pitch','Default Pitch ID','Division ID','Team ID','Teams In Division','Fixture Key','Paired?','Paired_CSV']]

#set new columns
df_pairing_order["Fixture Key"] = "EMPTY"
df_pairing_order["Paired?"] = np.nan # initiate with numpy NaN 
df_pairing_order.insert(0, 'id', range(1, 1 + len(df_pairing_order)))

# set pairing number - this will be updated
N = 1

In [37]:
#
# 'set singletons
print("Setting pitches with only 1 team <-----------------------------------")
df_pairing_order.loc[df_pairing_order["Teams At Pitch"] == 1, ["Paired?"]] = "No" # sets Paired? = 'No' for any Pitch with only 1 team  

print("...")
print("...Done!")

Setting pitches with only 1 team <-----------------------------------
...
...Done!

In [38]:
#
# 'set internal pairs
print("Setting Internal pairs")
for i in range(0, len(df_pairing_order)): 
  if(pd.isna(df_pairing_order.iloc[i,7])): # if [Paired?] null/nan found then not assumed not-paired
    #print(str(df_pairing_order.iloc[i,0]) + " " + df_pairing_order.iloc[i,4] + " >>>>>>>>> has not been paired yet.!")
    # now loop through the following teams
    for j in range(1, len(df_pairing_order)):
      if(df_pairing_order.iloc[i,4] != df_pairing_order.iloc[j,4] and df_pairing_order.iloc[i,3] == df_pairing_order.iloc[j,3]): # column 3 = [Division ID]
        #print("Division ID is the same for " +  df_pairing_order.iloc[i,4] + " and "+ df_pairing_order.iloc[j,4]) # column 4 = [Team ID]
        if(pd.isna(df_pairing_order.iloc[i,7])):
          #'If it's the same pitch
          if(df_pairing_order.iloc[i,2] == df_pairing_order.iloc[j,2]):
            #print(df_pairing_order.iloc[i,2] + " " + df_pairing_order.iloc[j,2])
            # If TheTeams(R, colPID) = TheTeams(X, colPID) Then Pair
            if(df_pairing_order.iloc[i,2] == df_pairing_order.iloc[j,2]):
              #print("PitchID Identical --------------------------<<<<<<<<<<<<<<<<<<<<<<<<<<<")
              # apply pairing
              #print("updating [Paired?] for " + str(df_pairing_order.iloc[i,0]) + " and " + str(df_pairing_order.iloc[j,0])) 
              #print("updating [Paired?] for " + str(df_pairing_order.iloc[i,4]) + " and " + str(df_pairing_order.iloc[j,4])) 
              df_pairing_order.iloc[i, 7] = ("INT" + str(N) + "A")
              df_pairing_order.iloc[j, 7] = ("INT" + str(N) + "B")  
              print("updating [Paired?] for " + df_pairing_order.iloc[i,4] + " " + df_pairing_order.iloc[j,4] + " - " + str(df_pairing_order.iloc[i,7]) + " and " + str(df_pairing_order.iloc[j,7]))
              N = N + 1
print("... ")
print("...Done!")

Setting Internal pairs
updating [Paired?] for TM00050 TM00051 - INT1A and INT1B
...
...Done!



```
# logic flow
# if teams have not been paired =      if ["Paired?"] == NaN  then
# 'Loop through the following teams
# X = R + 1 to teams -1 overall
# 'We can only pair with divisions of compatable size  Therefore
# COmpatible DIvisions  must be satisfied   R['Teams In Division'] =  X['Teams In Division']
# Now if also 'If this team has not already been paired
# i.e. TheTeams(X, colPRD) = vbNullString THEN 
# 'If it's the same pitch  i.e. 'If it's the same pitch
# They can then be PAired with the correct code
# Pairing for R = EXT Number N(id) and A
# Pairing for R = EXT Number N(id) and B



```

In [39]:
#
# 'set external pairs
print("Setting external pairs")


#
# iterate over the values
for i in range(0, len(df_pairing_order)):  # iterate all teams
#for i in range(1, len(df_pairing_order)):  # iterate all teams - With Missing Can't       
  if(pd.isna(df_pairing_order.iloc[i,7])): # if team(i)[Paired?] null/nan found then assumed not-paired
    print("Testing [Team ID] : " + df_pairing_order.iloc[i,4] + str(pd.isna(df_pairing_order.iloc[i,7])))      
    #print(str(df_pairing_order.iloc[i,0]) + " " + df_pairing_order.iloc[i,4] + " >>>>>>>>> has not been paired yet.!")
    # now loop through the following teams
    for j in range(1, len(df_pairing_order)): #iterate all teams + 1
      #print(str(df_pairing_order.iloc[j,0]) + " " + df_pairing_order.iloc[j,4] + " >>>>>>>>> TESTING THIS ONE.!")
      # if teams in division tally then continue
      if(df_pairing_order.iloc[i,5] == df_pairing_order.iloc[j,5]): #check division size
        #print("<<Teams In Division criterion met.>>")
        # check if second team is paired ie boolean is True
        if(pd.isna(df_pairing_order.iloc[j,7])): 
          #print(str(df_pairing_order.iloc[j,0]) + " " + df_pairing_order.iloc[j,4] + " Second Team not paired!"+ str(pd.isna(df_pairing_order.iloc[j,7])))
          # if same default pitch ID 
          if(df_pairing_order.iloc[i,2] == df_pairing_order.iloc[j,2]): # checks comparable ['Default Pitch ID']
            #print("same default pitch ID")
            # then if its NOT the same division then PAIR IT
            if(df_pairing_order.iloc[i,3] != df_pairing_order.iloc[j,3]): # checks comparable ['Division ID']
              #print("Division ID are different - we can now pair these teams")
              # Pair the teams
              #print("updating [Paired?] for " + str(df_pairing_order.iloc[i,0]) + " and " + str(df_pairing_order.iloc[j,0])) 
              df_pairing_order.iloc[i, 7] = ("EXT" + str(N) + "A")
              df_pairing_order.iloc[j, 7] = ("EXT" + str(N) + "B")  
              N = N + 1
              break
              #print(str(df_pairing_order.iloc[i,7]) + " = Set = " + str(df_pairing_order.iloc[j,7]))
              #print("updating [Paired?] for " + df_pairing_order.iloc[i,4] + " " + df_pairing_order.iloc[j,4] + " - " + str(df_pairing_order.iloc[i,7]) + " and " + str(df_pairing_order.iloc[j,7]))
              #print(" ")

print("... ")
print("...Done!")

Setting external pairs
Testing [Team ID] : TM00048True
Testing [Team ID] : TM00045True
Testing [Team ID] : TM00038True
Testing [Team ID] : TM00056True
Testing [Team ID] : TM00066True
Testing [Team ID] : TM00064True
Testing [Team ID] : TM00073True
Testing [Team ID] : TM00059True
Testing [Team ID] : TM00070True
...
...Done!

In [40]:
#
# 'set the would be pairs
for i in range(0, len(df_pairing_order)):
  if(pd.isna(df_pairing_order.iloc[i,7])):
    df_pairing_order.iloc[i, 7] = "CAN'T"
    
    print(str(df_pairing_order.iloc[i,0]) + " " + df_pairing_order.iloc[i,4] + " >>>>>>>>> TESTING THIS ONE.!")


# show
####df_pairing_order

3 TM00045 >>>>>>>>> TESTING THIS ONE.!

In [41]:

df_pairing_order

    id  Teams At Pitch Default Pitch ID  ... Teams In Division Fixture Key  Paired?
14   1               3         PIT00115  ...                 4       EMPTY    EXT2A
16   2               3         PIT00115  ...                 4       EMPTY    EXT2B
35   3               3         PIT00115  ...                 4       EMPTY    CAN'T
3    4               2         PIT00002  ...                 4       EMPTY    EXT3A
29   5               2         PIT00002  ...                 4       EMPTY    EXT3B
27   6               2         PIT00027  ...                 4       EMPTY    INT1A
25   7               2         PIT00027  ...                 4       EMPTY    INT1B
22   8               2         PIT00039  ...                 4       EMPTY    EXT4A
24   9               2         PIT00039  ...                 4       EMPTY    EXT4B
2   10               2         PIT00050  ...                 4       EMPTY    EXT5A
32  11               2         PIT00050  ...                 4       EMPTY    EXT5B
0   12               2         PIT00082  ...                 4       EMPTY    EXT6A
26  13               2         PIT00082  ...                 4       EMPTY    EXT6B
23  14               2         PIT00092  ...                 4       EMPTY    EXT7A
33  15               2         PIT00092  ...                 4       EMPTY    EXT7B
7   16               2         PIT00130  ...                 4       EMPTY    EXT8A
17  17               2         PIT00130  ...                 4       EMPTY    EXT8B
6   18               2         PIT00133  ...                 4       EMPTY    EXT9A
20  19               2         PIT00133  ...                 4       EMPTY    EXT9B
18  20               1         PIT00011  ...                 4       EMPTY       No
15  21               1         PIT00022  ...                 4       EMPTY       No
30  22               1         PIT00029  ...                 4       EMPTY       No
13  23               1         PIT00030  ...                 4       EMPTY       No
28  24               1         PIT00031  ...                 4       EMPTY       No
8   25               1         PIT00037  ...                 4       EMPTY       No
4   26               1         PIT00042  ...                 4       EMPTY       No
9   27               1         PIT00053  ...                 4       EMPTY       No
19  28               1         PIT00060  ...                 4       EMPTY       No
10  29               1         PIT00063  ...                 4       EMPTY       No
11  30               1         PIT00070  ...                 4       EMPTY       No
31  31               1         PIT00095  ...                 4       EMPTY       No
34  32               1         PIT00103  ...                 4       EMPTY       No
12  33               1         PIT00104  ...                 4       EMPTY       No
5   34               1         PIT00105  ...                 4       EMPTY       No
1   35               1         PIT00106  ...                 4       EMPTY       No
21  36               1         PIT00120  ...                 4       EMPTY       No

[36 rows x 8 columns]

REPLICATE SORT Issue:
Excel sheet has TM00045 assigned 'CAN'T'
debugging break added

Now as excel sheet